/* # ********** Palette color ***********/
:root {
  --white: #ffffff;
  --grey: #b1b1b1;
  --black: #2b3132;
  --bg-primary: #eaeaea;
  --bg-popup: #8edafc;
  --bg-chat-box: #e5ddd5;
  --user-message: #d5f9ba;
  --contact-message: #ffffff;
}

/* # ********** Utilities ***********/

/* Color & BG-Color Utils */
.cs-bg-primary {
  background-color: var(--bg-primary);
}
.cs-bg-secondary {
  background-color: var(--bg-popup);
}
.cs-bg-white {
  background-color: var(--white);
}
.cs-txt-white {
  color: var(--white);
}
.cs-txt-grey {
  color: var(--grey);
}
.cs-txt-black {
  color: var(--black);
}

/* Image Utils */
.cs-img-circle {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

/* # ********** Generics ***********/
body {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(0, 150, 136) 15vh, rgb(218, 219, 212) 15vh);
}
main {
  height: 100vh;
  padding-top: 2vh;
}

/* # ********** Boolzapp ***********/
#boolzapp {
  height: 95vh;
  display: flex;
}

#sidebar {
  height: 100%;
  width: 35%;
  flex-grow: 1;
}

#chat-room {
  height: 100%;
  width: 60%;
  flex-grow: 1;
}

/* # ********** Boolzapp => Sidebar ***********/

/* | User Settings View [Sidebar] */
#sidebar .user__settings {
  height: 60px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--bg-primary);
}

#sidebar .user__settings .user__basic-info,
#sidebar .user__settings .user__action-btn {
  height: 100%;
  display: flex;
  align-items: center;
}

#sidebar .user__settings .user__action-btn > * {
  font-size: 1.2rem;
  padding: 0 0.5rem;
  color: var(--grey);
  cursor: pointer;
}

/* | User Notifications Popup [Sidebar] */
#sidebar .user__notifications-popup {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--bg-popup);
}

#sidebar .user__notifications-popup .user__popup-icon {
  color: var(--bg-popup);
  background-color: var(--white);
  padding: 0.5rem calc(0.5rem + 2px);
  border-radius: 50%;
}

#sidebar .user__notifications-popup .user__popup-content {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0 0.5rem;
}

/* | User Search Bar [Sidebar] */
#sidebar .user__search-bar {
  height: 40px;
  padding: 0.5rem;
  background-color: var(--bg-primary);
}

#sidebar .user__search-bar .user__input-box {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--white);
}

#sidebar .user__search-bar .user__input-box i {
  padding: 0 0.5rem;
  color: var(--grey);
}

#sidebar .user__search-bar .user__input-box input {
  border: none;
  flex-grow: 1;
}

/* | User Contacts List [Sidebar] */
#sidebar .user__contacts-list {
  height: calc(100% - 170px);
  overflow-y: auto;
  background-color: var(--white);
}

#sidebar .user__contacts-list .contacts-list-group {
  list-style-type: none;
  padding: 0;
}

#sidebar .contacts-list-group li {
  height: 70px;
  display: flex;
  padding: 0.5rem;
  border-top: 1px solid var(--bg-primary);
  transition: background-color 0.2s linear;
  cursor: pointer;
}

#sidebar .contacts-list-group li:hover {
  background-color: var(--bg-primary);
}

#sidebar .contacts-list-group li .last-message {
  font-size: 0.8rem;
}

#sidebar .contacts-list-group li .last-message-date {
  font-size: 0.6rem;
  flex-grow: 1;
  text-align: end;
}

/* # ********** Boolzapp => Chat Room ***********/

/* | Contact Settings View [Chat Room] */
#chat-room .contact__settings {
  height: 60px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--bg-primary);
}

#chat-room .contact__settings .contact__basic-info,
#chat-room .contact__settings .contact__action-btn {
  height: 100%;
  display: flex;
  align-items: center;
}

#chat-room .contact__settings .contact__basic-info span {
  font-size: 0.8rem;
}

#chat-room .contact__settings .contact__action-btn > * {
  font-size: 1.2rem;
  padding: 0 0.5rem;
  color: var(--grey);
  cursor: pointer;
}

/* | Current Contact Chat Overview [Chat Room] */
#chat-room .contact__chat-overview {
  height: calc(100% - 120px);
  padding: 3.5rem;
  overflow-y: auto;
  background-color: var(--bg-chat-box);
  background: url("../img/mine.jpg");
}

#chat-room .contact__chat-overview .message-box {
  min-height: 30px;
  min-width: 20%;
  max-width: 45%;
  overflow-wrap: break-word;
  padding: 0.8rem 0.6rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

/* !
  | Current Chat Overview [Chat Room]
  | => Message Box
! */
.message-box .message-content {
  font-weight: 400;
}

.message-box .message-date {
  position: absolute;
  bottom: 0;
  right: 0.3rem;
  font-size: 0.5rem;
  color: var(--grey);
}

.message-box.sent {
  margin-left: auto;
  margin-right: 0;
  background-color: var(--user-message);
}

.message-box.received {
  margin-left: 0;
  margin-right: auto;
  background-color: var(--contact-message);
}

.message-box .message-controls .fa-angle-down {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  color: var(--grey);
  cursor: pointer;
  visibility: hidden;
}

.message-box:hover .message-controls .fa-angle-down {
  visibility: visible;
}

.message-controls .message-dropdown {
  position: absolute;
  top: 1rem;
  right: 0;
  min-width: 100%;
  list-style-type: none;
  font-size: 0.8rem;
  padding: 0;
  display: none;
}

.message-controls .message-dropdown.active {
  display: block;
}

.message-controls .message-dropdown li {
  width: 70%;
  background-color: var(--white);
  padding: 0.5rem;
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
}

.message-controls .message-dropdown li:hover {
  background-color: var(--grey);
}

/* | User Chat Box [Chat Room] */
#chat-room .user__chat-box {
  height: 60px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-primary);
}

#chat-room .user__chat-box .chat-box-btn {
  font-size: 1.35rem;
  padding: 0 1rem;
  cursor: pointer;
}
#chat-room .user__chat-box input {
  border: none;
  border-radius: 0.25rem;
  padding: 0.7rem 0.3rem;
  flex-grow: 1;
}
